<configuration>
   <runtime>
      <gcServer enabled="true"/>
  </runtime>
  <appSettings>
      <!-- SecretUri is the URI for the secret in Azure Key Vault -->
      <add key="SecretUri" value="What the flip?" />
      <add key="EXPTESTKEY" value="This is the value when running on the local machine." />
  
      <!--EXP 9.6.17. The tutorial says to put it in web.config. hopefully it'll work app.config-->
      <!-- ClientId and ClientSecret refer to the web application registration with Azure Active Directory -->
      <add key="ClientId" value="clientid" /> <!--this is bullshit. same for dude below it's actually overwritten in azure-->
      <add key="ClientSecret" value="clientsecret" />
  </appSettings>
</configuration>
