@using Microsoft.AspNetCore.Identity
@using TexasTRInventory.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h2>Texas TR Inventory Mangement</h2>
@if (!SignInManager.IsSignedIn(User))
{
    <p>If you are a supplier, your Texas TR representative will provide you with login credentials.</p>
    <p>Learn more at <a href="http://www.texastr.com">TexasTR.com</a></p>
}
else if (Utils.IsInternalUser(User))
{
    <p>You're a Texas TR employee!</p>
}
else
{
    <p>Use this system to view or update your product list.</p>
}

<img src="~/images/HomePageImage.jpg" alt="A well-managed inventory" />