@{
    ViewData["Title"] = "Error";
    string errorDetails = (ViewData[TexasTRInventory.Constants.KeyNames.ErrorDetails] ?? "").ToString();
}

<h1 class="text-danger">Error.</h1>
<h3 class="text-danger">@Html.Raw(errorDetails)</h3>
<p>Your request could not be fulfilled.</p>
