@{
    ViewData["Title"] = "Error";
    string errorDetails = (ViewData[TexasTRInventory.Constants.KeyNames.ErrorDetails] ?? "").ToString();
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@errorDetails</h2>
<p>Your request could not be fulfilled.</p>
