@model TexasTRInventory.Models.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<script src="~/js/3rdParty/Load-Image/js/load-image.all.min.js"></script> @*TODO maybe load directly from github and fallback on my copy?*@
<script src="~/js/product.js"></script>

<h2>Create</h2>
<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Brand" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SKU" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SKU" class="form-control" />
                <span asp-validation-for="SKU" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Info" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PackageContents" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PackageContents" class="form-control" />
                <span asp-validation-for="PackageContents" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OurCost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OurCost" class="form-control" />
                <span asp-validation-for="OurCost" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MAP" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MAP" class="form-control" />
                <span asp-validation-for="MAP" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dimensions" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dimensions" class="form-control" />
                <span asp-validation-for="Dimensions" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Weight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UPC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UPC" class="form-control" />
                <span asp-validation-for="UPC" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Website" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" id="fileUploaders">
            @Html.Label("EXP", TexasTRInventory.Models.ProductViewModel.ImageFilesDisplayName(), new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="dynamicallyGrowingDiv">
                </div>
                <script>initializeFields("dynamicallyGrowingDiv",@GlobalCache.MinImgFilesCnt()); </script>
                <div class="col-md-10">
                    <input type="button" onclick="addFileField('dynamicallyGrowingDiv')" value="add more files" />
                </div>
            </div>
         </div>
        @if (Utils.IsInternalUser(User))
        {
            <div class="form-group">
                <label asp-for="SupplierID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="SupplierID" class="form-control" asp-items=ViewBag.SupplierID></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PartNumber" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PartNumber" class="form-control" />
                    <span asp-validation-for="PartNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Inventory" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Inventory" class="form-control" />
                    <span asp-validation-for="Inventory" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AmazonASIN" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="AmazonASIN" class="form-control" />
                    <span asp-validation-for="AmazonASIN" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Dealer" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Dealer" class="form-control" />
                    <span asp-validation-for="Dealer" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>

        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}