@model TexasTRInventory.Models.ProductViewModel

@using TexasTRInventory.Models

@{
        ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <input hidden="hidden" asp-for="ID" />    
    @Html.Partial("SharedWrite")
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
