@using TexasTRInventory.ExternalUtils

<h2>@ViewData["Title"]</h2>

    <p>
        <a asp-action="Create">Create a New Product</a>
        @if (ApplicationUserUtils.IsInternalUser(User))
        {
            <br />
            <a asp-controller="CSVs" > See All Products in CSV form</a >
        }
    </p>
@if (ApplicationUserUtils.IsAdmin(User))
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.Partial("Table")
        <br/><br/>
        <div class="form-group">
            <input type="submit" value="Update approval statuses" class="btn btn-default" disabled="disabled" id="btnSubmit"/>
        </div>
    }
}
else
{
    @Html.Partial("Table");
}